@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif; 
}
/* create additional rules below:  */