body * {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #F4F4F4;
    font-family: Arial, Helvetica, sans-serif;
}

/* Begin Debugging Code */
header {
    background-color: white; 
}
main {
    margin-top: 100px; 
    width: 60vw; 
    margin-left: 5vw; 

}
section,
article,
nav,
.logo {
    border: solid 2px #CCC;
    padding: 10px;
    margin: 10px;
}

.logo {
    font-size: 1em;
    font-weight: normal;
}

aside {
    top: 100px; 
    right: 50px; 
    min-height: 300px; 
    position: fixed; 
    background-color: white;
    margin-left: 50vw;

}

body>header,
main
.news-feed {
    border: solid 4px #000;
    padding: 10px;
    margin: 10px;
}

/* End Debugging Code */

article {
    top: 100px; 
    right: 50px; 
    min-height: 300px; 
    position: fixed; 
    background-color: white;



}
#top-header {
background-color: white;
position: fixed; 
width: 100%;
top: 0; 
left: 0; 
margin: 0; 
display: flex; 
justify-content: space-between;

}


@media (max-width: 800px) {
    aside { 
        display: none; 
    }

    main {
        margin-top: 100px; 
        width: 100%; 
        margin-left: 0; 
        margin-right: 0;
        padding: 20px;
        
    }

}